.rodapie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 0px) {
    .rodapie {
        padding-top: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .rodapie {
        padding-top: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}